<fieldset>

  <legend>Entry</legend>

  <!-- TITLE -->
  <p>
    <label for="entry-title">Date</label><br>
    <input id="entry-title" type="text" name="title" value="{{entry.title}}"/>
  </p>

  <!-- RATING -->
  <p>
    <label>Rating of Productivity</label><br>
    <select name="rating">
      <option value="Rating">Rating</option>
      <option value="1">1 (least productive)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (most productive)</option>
    </select>
  </p>

  <!-- TAG(S) -->
  <p>
    <label for="entry-tags">Tags</label><br>
    <input type="text" name="tagsString" value="{{tagsString}}">
  </p>

</fieldset>
