<fieldset>
  <legend>Edit Entry</legend>
  <!-- TITLE -->
  <p>
    <label for="entry-title">Title</label><br>
    <input id="entry-title" type="text" name="title" value="{{entry.title}}"/>
  </p>

  <!-- RATING -->
  <p>
    <label for="entry-rating">Rating</label><br>
    <input id="entry-rating" type="text" name="rating" value="{{entry.rating}}" />
  </p>
</fieldset>
