<br>
<a href="/">Back to Home</a>

<div class="row">
  <span class="entry-border">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Entries</h1>
      <a href="/entries/new">New Entry</a>
      <br>
      {{#each entries}}
        <div class="one-entry">
          <h2>Date: <a href="/entries/{{this._id}}">{{this.title}}</a></h2>
          <p><b>Rating of productivity: </b>{{this.rating}}</p>
          <p><b>Tags: </b><i>{{this.tagsString}}</i></p>
        </div>
      {{/each}}
    </div>
  </span>
</div>
