<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/entries/{{entry._id}}?_method=PUT">
      {{> entries-form}}
      <!-- BUTTON -->
      <p>
        <button type="submit">Save Entry</button>
      </p>

      <a href="/entries">Cancel</a>

    </form>
  </div>
</div>
