<form method="POST" action="/entries">
  {{> entries-form}}

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Entry</button>
  </p>

</form>


    <!-- <p>
      <label for="entry-tag">Tags</label><br>
      <form action="/">
      <input type="entry-text" name="tag" value="{{tag}}">
      </form>
    </p> -->
