<a href="/">Back to Home</a>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/entries">
      {{> entries-form}}

      <!-- BUTTON -->
      <p>
        <button type="submit">Save Entry</button>
      </p>

    </form>
  </div>
</div>
