<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Welcome!</h1>
    <a href="/entries/new"><button>New Entry</button></a>
    <a href="/entries"><button>View Past Entries</button></a>
  </div>
</div>
